@font-face {
  font-family: "IBM Plex Mono";
  src: url("media/plex/IBMPlexMono-Regular.woff2") format("woff2"),
	url("media/plex/IBMPlexMono-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #11111b;
}


a { 
  color: #89b4fa;
  text-decoration: none;
}

code { 
  color: #89b4fa;
  text-decoration: none;
  margin: 0px;
}

pre {
  margin: 30px; 
  border-radius: 10px; 
  background-color: #1e1e2e; 
  padding: 10px; 
  border: 1px solid #a6adc8; 
}

li, p, h1, h2, h3, h4, h5 {
  color: #cdd6f4
}

.blockquote { 
	color: #cdd6f4;
	background: #1e1e2e;
	border-left: 10px solid #8aadf4;
}

.figure-caption { 
	color: #cdd6f4;
}

.callout-header {
  color: #cdd6f4;
}


div.callout-note.callout-style-default {
  .callout-header {
    background-color: #1e1e2e;
  }
}

.callout-note {
  color: #cdd6f4;
}

.callout-title-container {
  background: #1e1e2e;
}

.align-content-center.d-flex.callout-header {
  background: #1e1e2e;
}

div.callout-note.callout {
  border-left-color: #89b4fa;
}


.callout-icon-container {
  background: #1e1e2e;
}

h1::before{
	content: "# ";
	color: #f38ba8;
}

h2::before{
	content: "## ";
	color: #f38ba8;
}

h3::before{
	content: "### ";
	color: #f38ba8;
}

html {
    max-width: 800px; /* Adjust as needed */
    width: 100%; /* Full width on smaller screens */
    margin: 0 auto; /* Center the article */
    padding: 20px; /* Add some padding */
}

