/*-- scss:defaults --*/
/* Colors --------------------------------------------------------------------*/
$white: #cdd6f4 !default;
$black: #11111b !default;
$blue: #89b4fa  !default;
$red: #f38ba8 !default;
$green: #a6e3a1 !default;
$grey: #1e1e2e  !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$small-font-size:             .875em !default;


/* theming -------------------------------------------------------------------*/
$body-color:            $white !default;
$body-bg:               $black !default;
$code-bg: 		$grey !default;
$code-color: 		$blue !default;
$link-color:            $blue  !default;
$navbar-light-color:    $black !default;
$navbar-dark-color:     $black !default;

$blockquote-color: $red;
