/*-- scss:defaults --*/
/* Colors --------------------------------------------------------------------*/
$white: #cdd6f4 !default;
$black: #11111b !default;
$blue: #89b4fa  !default;


/* theming -------------------------------------------------------------------*/
$body-color:            $white !default;
$body-bg:               $black !default;
$link-color:            $blue  !default;
$navbar-light-color:    $black !default;
$navbar-dark-color:     $black !default;
