@font-face {
  font-family: "IBM Plex Mono";
  src: url("./IBMPlexMono-Regular.woff2") format("woff2"),
	url("./IBMPlexMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./IBMPlexSans-Regular.woff2") format("woff2"),
	url("./IBMPlexSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IBM Plex Mono';
  background-color: #11111b;
  font-size: 1.2em;
}

html {
  font-family: 'IBM Plex Mono';
}

div {
  max-width: 30em;
  margin: 0 auto;
  line-height: 1.5;
}

a { 
  color: #89b4fa;
  text-decoration: none;
}

h1, h2, h3, h4, h5, nav, footer, pre, code {
  font-family: "IBM Plex Mono";
}

h1, h2, h3, h4, h5 {
  font-size: 1.4em
}

li, p, h1, h2, h3, h4, h5 {
  color: #cdd6f4
}

h1::before{
  content: "# ";
  color: #f38ba8;
}

h2::before{
  content: "## ";
  color: #f38ba8;
}

h3::before{
  content: "### ";
  color: #f38ba8;
}
