<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ get_url(path='styles.css') }}">
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
      <p>These are the sites and services I currently use:</p>
      <ul>
	<li><a href="https://github.com/mackrics">GitHub</a></li>
	<li><a href="https://fosstodon.org/@mackrics" rel="me">Fosstodon / Mastodon / ActivityPub</a></li>
	<li><a href="mailto:hello@mackrics.com">Email</a></li>
	<li><a href="{{ get_url(path ='publickey.txt') }}">PGP key.</a></li>
      </ul>
    </div>
  </section>
</body>
</html>
