{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
{{ section.content | safe }}
      <p>These are the sites and services I currently use:</p>
      <ul>
	<li><a href="https://github.com/mackrics">GitHub</a></li>
	<li><a href="https://fosstodon.org/@mackrics" rel="me">Fosstodon / Mastodon / ActivityPub</a></li>
	<li><a href="mailto:hello@mackrics.com">Email</a></li>
	<li><a href="{{ get_url(path ='publickey.txt') }}">PGP key</a></li>
      </ul>
{% endblock content %}
